{% extends 'base.html' %}

{% block title %}
Geoconcert
{% endblock title %}

{% block head %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
<script>
    const concert_info = {{ concerts_info| safe }}
    ;

    const colors = ['red', 'yellow', 'blue', 'green', 'lightblue', 'orange', 'pink', 'purple'];

    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 3,
            // TODO: Change this! This is VERY provisional. Hardcoding bad.
            center: { "lng": -1.881852, "lat": 52.475166 },
        });

        var marker, i, content, infowindow;
        var markers = [];
        var color_num = 0;

        infowindow = new google.maps.InfoWindow({
        })
        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        // TODO: Make a system to change the marker color for each artist.
        for (let selected_artist in concert_info) {
            for (i = 0; i < concert_info[selected_artist].concerts.length; i++) {
                marker = new google.maps.Marker({
                    position: concert_info[selected_artist].concerts[i].location,
                    label: (i + 1).toString(),
                    icon: {
                        url: 'https://maps.google.com/mapfiles/ms/icons/' + colors[color_num] + '.png',
                        labelOrigin: new google.maps.Point(16, 10)
                    }
                })
                markers.push(marker)

                content = '<div id="content">' +
                    '<div id="siteNotice"></div>' + '<center>' +
                    '<h4 id="firstHeading" class="firstHeading">' + selected_artist + '</h4>' +
                    '<p>@</p>' +
                    '<p>' + concert_info[selected_artist].concerts[i].venue + '</p>' +
                    '<div id="bodyContent">' +
                    '<h6>' + concert_info[selected_artist].concerts[i].city + '</h6>' +
                    '<h6>' + concert_info[selected_artist].concerts[i].date + '</h6>' +
                    '<p><a href=' + concert_info[selected_artist].concerts[i].link + '>' +
                    'Link to ticket seller</a></p>' +
                    '</div></div>'
                    ;

                google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                    return function () {
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                    };
                })(marker, content, infowindow));
            }
            color_num += 1;
        }

        // Add a marker clusterer to manage the markers.
        new MarkerClusterer(map, markers, {
            imagePath:
                "{{ url_for('static', filename='images/maps/m') }}",
        });
    }

</script>
{% endblock head %}

{% block map %}
<div id="map"></div>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_key }}&callback=initMap&libraries=&v=weekly"
    async></script>
{% endblock map %}