{% extends 'base.html' %}

{% block title %}
Geoconcert
{% endblock title %}

{% block head %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
<script>
    const concert_info = {{ concerts_info|safe }}
    ;

    const colors = ['black', 'silver', 'gray', 'white', 'maroon', 'red', 'purple',
                    'fuchsia', 'green', 'lime', 'olive', 'yellow', 'navy', 'blue',
                    'teal', 'aqua']

    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 3,
            // TODO: Change this! This is VERY provisional
            center: concert_info["Shawn James"].locations[0],
    });

    var marker, i, content, infowindow;
    var markers = [];
    // Add some markers to the map.
    // Note: The code uses the JavaScript Array.prototype.map() method to
    // create an array of markers based on a given "locations" array.
    // The map() method here has nothing to do with the Google Maps API.
    // TODO: Wrap this in an external for loop once the code is looping through all
    // selected artists.
    for (i = 0; i < concert_info["Shawn James"].concerts.length; i++)
    {
        marker = new google.maps.Marker({
            position: concert_info["Shawn James"].concerts[i].location,
            label: (i+1).toString(),
        })
        markers.push(marker)

        content = '<div id="content">' +
        '<div id="siteNotice"></div>' +
        '<center><p>Shawn James<p>' + '<p>@</p>' +
        '<h3 id="firstHeading" class="firstHeading">' + 
        concert_info["Shawn James"].concerts[i].venue + '</h3>' +
        '<div id="bodyContent">' + 
        '<p>' + concert_info["Shawn James"].concerts[i].city + '</p>' +
        '<p>' + concert_info["Shawn James"].concerts[i].date + '</p>' +
        '<p><a href=' + concert_info["Shawn James"].concerts[i].link + '>' +
        'Link to ticket seller</a></p>' +
        '</div></div>'   
        ;

        infowindow = new google.maps.InfoWindow({
            content: content,
        })

        google.maps.event.addListener(marker, 'click', (function(marker) {
            return function() {
                infowindow.open(map, marker);
            }
        })(marker));
    }

    // Add a marker clusterer to manage the markers.
    new MarkerClusterer(map, markers, {
        imagePath:
            "{{ url_for('static', filename='images/maps/m') }}",
    });
    }

</script>
{% endblock head %}

{% block content %}
<div id="map"></div>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_key }}&callback=initMap&libraries=&v=weekly"
    async></script>
{% endblock content %}
