{% extends 'base.html' %}

{% block title %}
    Preferences
{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="mb-3 row">
    <form method="POST">
        <input type="date" id="date">
        <div class="form-check-inline required">
        {% for artist in top_artists %}
            <input class="form-check-input" type="checkbox" name="artists" value="{{ artist }}" id="{{ artist }}" onclick="requireCheckbox('form-check-input')">
            <label class="form-check-label" for="flexCheckChecked">
                {{ artist }}
            </label>
            <br>
        {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>
</div>
<script>
    $("form").submit(function (e) {
    var validationFailed = $('div.form-check-inline.required :checkbox:checked').length <= 0;
    if (validationFailed) {
        e.preventDefault();
        alert("Please select at least one artist.")
        return false;
    }
    }); 
</script>
{% endblock content %}