{% extends 'base.html' %}

{% block title %}
Preferences · Geoconcert
{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="mb-3 row">
    <form method="POST">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="start_date" class="col-sm-2 col-form-label">Start date:</label>
                    <input type="date" id="start_date" name="start_date">
                    <br>
                    <label for="end_date" class="col-sm-2 col-form-label">End date:</label>
                    <input type="date" id="end_date" name="end_date">
                </div>
            </div>
            <div class="col">
                <div class="form-check-inline required">
                    {% for artist in top_artists %}
                    <input class="form-check-input" type="checkbox" name="artists" value="{{ artist }}"
                        id="{{ artist }}" onclick="requireCheckbox('form-check-input')">
                    <label class="form-check-label" for="flexCheckChecked">
                        {{ artist }}
                    </label>
                    <br>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
    </form>
</div>
<script>
    $("form").submit(function (e) {
        var validationFailed = $('div.form-check-inline.required :checkbox:checked').length <= 0;
        if (validationFailed) {
            e.preventDefault();
            alert("Please select at least one artist.")
            return false;
        }
    });
</script>
{% endblock content %}