{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Log into Spotify{% endblock title %}</h1>
{% endblock header %}

{% block content %}
<!-- Make a button with a link to auth_url to direct the user to the Spotify login page. -->
<a id="login" href={{ auth_url }} class="btn btn-success rounded-pill my-2 py-2 pe-4">
    <div class='d-flex align-items-center'>
        <img src="{{ url_for('static', filename='images/Spotify_Icon_RGB_Black.png') }}" alt="Spotify Icon" width="21px" height="21px" class="ms-1 me-2">LOG IN WITH
        SPOTIFY
    </div>
</a>
{% endblock content %}