{% extends 'base.html' %}

{% block title %}
    About · GeoConcert
{% endblock title %}

{% block content %}
<div class="text-wrap text-break">
    <h2 id="about">About</h2>
    <p>GeoConcert is a web application that allows you to find future concerts from your favorite artists on a map.</p>
    <h2 id="how-does-it-work">How does it work?</h2>
    <p>
        GeoConcert asks Spotify for your favorite artists and then asks about those artists
        to the TicketMaster database. Then, it takes that information and renders it in a 
        Google Map so you can see where your favorite artists are playing, anywhere in
        the world!
    </p>
    <h2 id="features">Features</h2>
    <ul>
        <li>Select one of your favorite artists to see when and where they will play on a Google Map!</li>
        <li>You can filter the artists by the dates you are interested in.</li>
        <li>You can select only one, a few, or even all of your favorite artists!</li>
    </ul>
    <h2 id="planned-features">Planned features</h2>
    <p>These are the features that are waiting to be developed at some point in the future:</p>
    <ul>
        <li>Search for artist concerts using a search bar.</li>
        <li>Hide/toggle artist markers in the map.</li>
    </ul>
    <h2 id="data-and-privacy">Data and Privacy</h2>
    <p>The only data GeoConcert uses is provided by your Spotify account, namely your username and top artists.
        This data will not be stored for more than a day and can be immediately cleared by logging out.
        Your information will not be stored, sold to, nor shared with Third Parties in any way.</p>
    <h2 id="feedback">Feedback</h2>
    <p>Any feature requests, found bugs, feedback, or music recommendations are welcome and can be sent to <a href="mailto:elijahshellsanchez@outlook.com?subject=GeoConcert Feedback">this address.</a></p>
</div>
{% endblock content %}
